In [2]:
import pandas as pd
df=pd.read_csv("carsdata.csv")
df.head()

,Make,Model,Varient,Price,Displacement,Fuel_Type,Transmission Type,merged_milage,driver frontal airbag,front passenger frontal airbag,drive side airbag,driver curtain airbag,front passenger side airbag,front passenger curtain airbag,percentage,percent,star_rating
0,Tata,Nano Genx,Xt,292667.0,624.0,Petrol,Manual,23.6,no,no,no,no,no,no,0,0.0,3
1,Tata,Nano Genx,Xe,236447.0,624.0,Petrol,Manual,23.6,no,no,no,no,no,no,0,0.0,3
2,Tata,Nano Genx,Emax Xm,296661.0,624.0,CNG,Manual,36.0,no,no,no,no,no,no,0,0.0,3
3,Tata,Nano Genx,Xta,334768.0,624.0,Petrol,Automatic,21.9,no,no,no,no,no,no,0,0.0,3
4,Tata,Nano Genx,Xm,272223.0,624.0,Petrol,Manual,23.6,no,no,no,no,no,no,0,0.0,3

In [3]:
df.columns

Index(['Make', 'Model', 'Varient', 'Price', 'Displacement', 'Fuel_Type',
       'Transmission Type', 'merged_milage', 'driver frontal airbag',
       ' front passenger frontal airbag', ' drive side airbag',
       ' driver curtain airbag', ' front passenger side airbag',
       ' front passenger curtain airbag', 'percentage', 'percent',
       'star_rating'],
      dtype='object')

In [4]:
mask=df["merged_milage"]<700
df=df[mask]
df

,Make,Model,Varient,Price,Displacement,Fuel_Type,Transmission Type,merged_milage,driver frontal airbag,front passenger frontal airbag,drive side airbag,driver curtain airbag,front passenger side airbag,front passenger curtain airbag,percentage,percent,star_rating
0,Tata,Nano Genx,Xt,292667.0,624.0,Petrol,Manual,23.60,no,no,no,no,no,no,0,0.00,3
1,Tata,Nano Genx,Xe,236447.0,624.0,Petrol,Manual,23.60,no,no,no,no,no,no,0,0.00,3
2,Tata,Nano Genx,Emax Xm,296661.0,624.0,CNG,Manual,36.00,no,no,no,no,no,no,0,0.00,3
3,Tata,Nano Genx,Xta,334768.0,624.0,Petrol,Automatic,21.90,no,no,no,no,no,no,0,0.00,3
4,Tata,Nano Genx,Xm,272223.0,624.0,Petrol,Manual,23.60,no,no,no,no,no,no,0,0.00,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,Honda,City,Vx Mt Diesel,1302000.0,1498.0,Diesel,Manual,25.10,yes,yes,no,no,no,no,2,0.33,3
1272,Honda,City,Zx Mt Diesel,1421000.0,1498.0,Diesel,Manual,25.10,yes,yes,no,no,no,no,2,0.33,3
1273,Honda,City,Zx Cvt Petrol,1431000.0,1497.0,Petrol,Automatic,22.60,yes,yes,no,no,yes,no,3,0.50,3
1274,Honda,City,V Cvt Petrol,1201000.0,1497.0,Petrol,Automatic,17.80,yes,yes,yes,no,yes,no,4,0.67,4
1275,Mitsubishi,Montero,3.2 At,6862560.0,3200.0,Diesel,Automatic,11.56,yes,yes,no,no,no,no,2,0.33,3

In [5]:
sum(df["merged_milage"]<700)

1204

In [6]:
df.shape

(1204, 17)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1204 entries, 0 to 1275
Data columns (total 17 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Make                             1204 non-null   object
 1   Model                            1204 non-null   object
 2   Varient                          1204 non-null   object
 3   Price                            1204 non-null   float64
 4   Displacement                     1193 non-null   float64
 5   Fuel_Type                        1204 non-null   object
 6   Transmission Type                1203 non-null   object
 7   merged_milage                    1204 non-null   float64
 8   driver frontal airbag            1204 non-null   object
 9    front passenger frontal airbag  1204 non-null   object
 10   drive side airbag               1204 non-null   object
 11   driver curtain airbag           1204 non-null   object
 12   front passenger side airbag     1204 non-null   object
 13   front passenger curtain airbag  1204 non-null   object
 14  percentage                       1204 non-null   int64
 15  percent                          1204 non-null   float64
 16  star_rating                      1204 non-null   int64
dtypes: float64(4), int64(2), object(11)
memory usage: 169.3+ KB

In [8]:
df["Price"]

0        292667.0
1        236447.0
2        296661.0
3        334768.0
4        272223.0
          ...
1271    1302000.0
1272    1421000.0
1273    1431000.0
1274    1201000.0
1275    6862560.0
Name: Price, Length: 1204, dtype: float64

In [9]:
max_price=df["Price"].max()
max_price
min_price=df["Price"].min()
min_price

np.float64(236447.0)

In [10]:
mask=df["Fuel_Type"]=="Electric"
EV_min_price=min(df["Price"][mask])
EV_max_price=max(df["Price"][mask])

In [11]:
mask=df["Fuel_Type"]=="Electric"
min_mil=min(df["merged_milage"][mask])
max_mil=max(df["merged_milage"][mask])
min_mil,max_mil

(110.0, 462.0)

In [12]:
mask=df["Fuel_Type"]=="Petrol"
min_mil=min(df["merged_milage"][mask])
max_mil=max(df["merged_milage"][mask])
min_mil,max_mil

(4.0, 35.0)

In [13]:
mask=df["Fuel_Type"]=="CNG"
min_mil=min(df["merged_milage"][mask])
max_mil=max(df["merged_milage"][mask])
min_mil,max_mil

(18.9, 43.0)

In [14]:
mask=df["Fuel_Type"]=="Diesel"
min_mil=min(df["merged_milage"][mask])
max_mil=max(df["merged_milage"][mask])
min_mil,max_mil

(7.9, 142.0)

In [17]:
def display_fuel(df,choice,min_budget,max_budget,milage_r1,milage_r2):
    if len(result)==0:
        df1=df[(df["Price"]>min_budget) & (df["Price"]<max_budget) & (df["Fuel_Type"]==choice)]
        df2=df[(df["merged_milage"]<milage_r1)&(df["merged_milage"]<milage_r2)]
        df3=pd.concat([df1,df2],axis=0)
        return df3
    else:
        return df[(df["Price"]>min_budget) & (df["Price"]<max_budget) & (df["Fuel_Type"]==choice2)&(df["merged_milage"]>milage_r1)&(df["merged_milage"]<milage_r2)]

In [22]:
while True:
    choice=input("choose your preferred Fuel Type ...Please enter EV or Fuel")
    if choice in ["EV","Fuel"]:
        break
if choice=="EV":
    while True:
        min_budget,max_budget=int(input("what's your minimum investment that you can afford?")),int(input("what's your maximum investment that you can afford?"))
        if min_budget>EV_min_price and max_budget<EV_max_price:
           break
        else:
           print(f"..YOUR BUDGET MUST BE BETWEEN {EV_min_price} AND {EV_max_price}")
elif choice=="Fuel":
    while True:
     choice2=input("choose your preferred Fuel Type ...Please enter Petrol or CNG or Diesel")
     if choice2 not in ["Petrol","CNG","Diesel"]:
         print("choose Type in Petrol or CNG or Diesel")
         continue
     else:
         break
while True:
     if choice2 in ["Petrol","CNG","Diesel"]:
         min_budget,max_budget=int(input("what's your minimum investment that you can afford?")),int(input("what's your maximum investment that you can afford?"))
         if min_budget>min_price and max_budget<max_price:
            break
         else:
            print(f"..YOUR BUDGET MUST BE BETWEEN {min_price} AND {max_price}") 
while True:
  if choice=="EV":
   milage_r1,milage_r2=int(input(f"please enter your expected milage for {choice} from: ")),int(input(f"to: "))
   if milage_r1>110 and milage_r2<460:
       break
   else:
       print("Range Must be above 110 and Below 460 Mile")
  elif choice=="Fuel":
      milage_r1,milage_r2=int(input(f"please enter your expected milage for {choice} from: ")),int(input(f"to: "))
      if milage_r1>4 and milage_r2<40:
       break
      else:
       print("Range Must be above 4 Mile and  Below 40 Mile")
Transmission="Automatic"
while True:
    if choice!="Fuel":
        break
    else:
        Transmission=input("please enter your car type Manual or Automatic")
        if Transmission in ["Manual","Automatic"]:
            break
        else:
            print("Please type Manual or Automatic")
print("Thanks For the Information")
if choice=="EV":
    result=df[(df["Price"]>min_budget) & (df["Price"]<max_budget) & (df["Fuel_Type"]=="Electric") & (df["Transmission Type"]==Transmission)&(df["merged_milage"]<milage_r1)&(df["merged_milage"]<milage_r2)]
    display(result)
elif choice=="Fuel":
    result=df[(df["Price"]>min_budget) & (df["Price"]<max_budget) & (df["Fuel_Type"]==choice2)&(df["merged_milage"]>milage_r1)&(df["merged_milage"]<milage_r2)]
    if len(result)==0:
        print("sorry we are unable to find the cars with in that budget and within that milage range")
        print("here is the cars that matches your budget and milage seperately")
    result=display_fuel(df,choice2,min_budget,max_budget,milage_r1,milage_r2)
    display(result)

choose your preferred Fuel Type ...Please enter EV or Fuel EV
what's your minimum investment that you can afford? 100000
what's your maximum investment that you can afford? 1500000

..YOUR BUDGET MUST BE BETWEEN 881425.0 AND 2371858.0

what's your minimum investment that you can afford?  881429
what's your maximum investment that you can afford? 2371822
please enter your expected milage for EV from:  200
to:  300

Thanks For the Information

,Make,Model,Varient,Price,Displacement,Fuel_Type,Transmission Type,merged_milage,driver frontal airbag,front passenger frontal airbag,drive side airbag,driver curtain airbag,front passenger side airbag,front passenger curtain airbag,percentage,percent,star_rating
616,Mahindra,E2O Plus,P6,957177.0,NaN,Electric,Automatic,110.0,no,no,no,no,no,no,0,0.00,3
687,Mahindra,E Verito,D4,1293214.0,72.0,Electric,Automatic,110.0,yes,yes,no,no,no,no,2,0.33,3
688,Mahindra,E Verito,D2,1267208.0,72.0,Electric,Automatic,110.0,no,no,no,no,no,no,0,0.00,3
689,Mahindra,E Verito,D6,1303241.0,72.0,Electric,Automatic,110.0,no,no,no,no,no,no,0,0.00,3

In [19]:
result=display_fuel(df,choice2,min_budget,max_budget,milage_r1,milage_r2)
display(result)

Empty DataFrame
Columns: [Make, Model, Varient, Price, Displacement, Fuel_Type, Transmission Type, merged_milage, driver frontal airbag,  front passenger frontal airbag,  drive side airbag,  driver curtain airbag,  front passenger side airbag,  front passenger curtain airbag, percentage, percent, star_rating]
Index: []

In [ ]:
#min_budget,max_budget,choice,milage_r1,milage_r2,transmition
#Make	Model	Varient	Price	Displacement	star_rating
# df[(df["Price"]>min_budget) & (df["Price"]<max_budget)& ].shape

In [ ]:
mask=df["merged_milage"]<50
min(df["merged_milage"][mask])

In [ ]:
min_budget

In [ ]:
min_budget,max_budget

In [ ]:
choice2

In [ ]:
sum((df["Price"]>2364479)&(df["Price"]<23644796)& (df["Transmission Type"]==Transmission)&(df["Fuel_Type"]==choice2)&(df["merged_milage"]<milage_r1))

In [ ]:
df[(df["Price"]>236447) & (df["Price"]<23644788) & (df["Transmission Type"]==Transmission)&(df["Fuel_Type"]==choice2)&(df["merged_milage"]>milage_r1)&(df["merged_milage"]<milage_r2)]

In [ ]:
if choice=="EV":
    result=df[(df["Price"]>EV_min_price) & (df["Price"]<EV_max_price) & (df["Fuel_Type"]=="Electric") & (df["Transmission Type"]==Transmission)&(df["merged_milage"]<milage_r1)&(df["merged_milage"]<milage_r2)]
    display(result)
elif choice=="Fuel":
    result=df[(df["Price"]>236447) & (df["Price"]<23644788) & (df["Transmission Type"]==Transmission)&(df["Fuel_Type"]==choice2)&(df["merged_milage"]>milage_r1)&(df["merged_milage"]<milage_r2)]
    display(result)

In [ ]:
df[(df["Price"]>236447) & (df["Price"]<23644788) & (df["Transmission Type"]==Transmission)&(df["Fuel_Type"]==choice2)&(df["merged_milage"]>milage_r1)&(df["merged_milage"]<milage_r2)]

In [ ]:
df[(df["merged_milage"]>4)&(df["Transmission Type"]=="Manual")]

In [ ]:
len(df[(df["Price"]>236447) & (df["Price"]<23644788) & (df["Transmission Type"]==Transmission)&(df["Fuel_Type"]==choice2)&(df["merged_milage"]>milage_r1)&(df["merged_milage"]<milage_r2)])

In [ ]:
print("sorry we are unable to find the cars with in that budget and within that milage range")
print("here is the cars that matches your budget and milage seperately")
df1=df[(df["Price"]>min_budget) & (df["Price"]<max_budget) & (df["Fuel_Type"]==choice)]
df2=df[(df["merged_milage"]<milage_r1)&(df["merged_milage"]<milage_r2)]
df3=pd.concat([df1,df2],axis=0)
df3